<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EjercicioDatGrid.Properties.Settings.alumnosConnectionString"
            connectionString="server=localhost;user id=root;password=ax14-03n4p0;database=alumnos"
            providerName="MySql.Data.MySqlClient" />
        <add name="EjercicioDatGrid.Properties.Settings.alumnosConnectionString1"
            connectionString="server=localhost;user id=root;database=alumnos"
            providerName="MySql.Data.MySqlClient" />
        <add name="EjercicioDatGrid.Properties.Settings.agencia_segurosConnectionString"
            connectionString="server=localhost;user id=root;password=admin;persistsecurityinfo=True;database=agencia_seguros"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>